*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    padding: 5%;
}